* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: medium;
  width: 940px;
  margin: 30px auto;
  background-color: #EEEEEE;
}
h1 {
  padding-bottom: 10px;
}
h2 {
  background-color: #142850;
  color: #EEEEEE;
  margin: 15px 0px;
  padding: 5px 10px;
  text-transform: uppercase;
}
#email a {
  text-decoration: none;
  font-style: italic;
  color: inherit; /* Herda a cor do elemento pai. */
}
#corpo ul {
  text-indent: 50px;
}
#corpo p {
  text-indent: 50px;
  text-align: justify;
}
#cabecalho {
  text-align: center;
  line-height: 25px;
}
.negrito {
}
